
<div class="error_messages">
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% resource.errors.each do |attr, msg| %>
          <div class="alert alert-danger", role="alert">
            <%= attr %> <%= msg %>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

