<h1>Welcome to Berdacha news portal!</h1>
<h2>All news for your absence</h2>
<% if @items.count.zero? %>
  <h3>Unfortunately, new news did not appear on your subscription!</h3>
<% else %>
  <% @items.each do |item| %>
    <p>
      <big><b><em>Title</em></b></big>: <%= item.title %>
    </p>
    <p>
      <big><em><b>Short description</b></em></big>: <%= item.short_description %>
    </p>
    <%= image_tag attachments['1'].url %>
    <p>
      <small><em><b>Read completely:</b></em> <%= item_url(item) %></small>
    </p>
  <% end %>
<% end %>

