<div class="my-footer">
  <small class="text-muted float-right"><%= t('items.designed_by') %></small><br/>
  <small class="text-muted float-right"> 2020 - <%= Time.current.year %></small><br/>
</div>
